{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/orders_list.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}
{% block content %}

	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url(/static/images/contact.jpg)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="home_title">Регистрация<span>.</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->
	
	<div class="contact">
		<div class="container">
			<div class="row bg-white">
				<!-- Get in touch -->
				<div class="col-lg-8 contact_col offset-xl-3">
					<div class="get_in_touch">
						<div class="section_subtitle">Зарегистрируйтесь, чтобы сделать заказ.</div>
						<div class="contact_form_container">

								<form method="post">
								{% csrf_token %}

								<div class="row">
									<div class="col-xl-8">										
									<label for="contact_name">Email <span style="color: red">{{form.errors.email}}</span></label>
										{{ form.email }}
									</div>
								</div>
	
								<div class="row">
									<div class="col-xl-8">
										<label for="contact_name">Пароль <span style="color: red">{{form.errors.password}}</span></label>
										{{ form.password }}
									</div>
								</div>
								<button type="submit"class="button contact_button"><span>Зарегистрироваться</span></button>
							</form>
						</div>
					</div>
				</div>

				<!-- Contact Info -->
				<!-- <div class="col-lg-3 offset-xl-1 contact_col">
					<div class="contact_info">
						<div class="contact_info_section">
							<div class="contact_info_title">Marketing</div>
							<ul>
								<li>Phone: <span>+53 345 7953 3245</span></li>
								<li>Email: <span>yourmail@gmail.com</span></li>
							</ul>
						</div>
						<div class="contact_info_section">
							<div class="contact_info_title">Shippiing & Returns</div>
							<ul>
								<li>Phone: <span>+53 345 7953 3245</span></li>
								<li>Email: <span>yourmail@gmail.com</span></li>
							</ul>
						</div>
						<div class="contact_info_section">
							<div class="contact_info_title">Information</div>
							<ul>
								<li>Phone: <span>+53 345 7953 3245</span></li>
								<li>Email: <span>yourmail@gmail.com</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
			<div class="row map_row">
				<div class="col">

					<!-- Google Map -->
					<div class="map">
						<div id="google_map" class="google_map">
							<div class="map_container">
								<div id="map"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{% endblock %}
	{% block scripts %}
	<script src="{% static 'js/product.js' %}"></script>
	{% endblock %}